# Whitelist gitignore

# ignore everything
*

# allow directories
!*/

# root
!.gitignore
!.python-version

# github 
!.github/**
!**/.gitkeep

# quarto and content files
!**/*.qmd
!**/*.md
!**/*.yml
!**/*.yaml


# citations
!**/*.csl
!**/*.bib

# metadata
!**/*.toml
!**/*.lock

# styles
!**/*.css

# assets
!**/assets/**


# don't track Quarto output.
# if this is omitted, the css bypasses it
# inserted last as that's how gitignore evaluates priority
_site/
_freeze/

/.quarto/
**/*.quarto_ipynb
